.root {
  flex-direction: column;
}

.container {
  width: 100%;
  padding-inline: 1%;
  padding-block: 1.2%;
  font-size: 13px;
}

.mobileContainer {
  display: none;
  width: 100%;
  padding-inline: 1%;
  padding-block: 1.2%;
  font-size: 13px;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.logoImg {
  width: 45px;
  height: 45px;
}

.dropDownMenu a {
  text-decoration: none;
  color: #636363;
}

.loginButton {
  cursor: pointer;
  color: #44cbc6;
  border-color: #44cbc6;
  transition: font-size 0.2s ease;
}

.loginButton:hover {
  color: #44cbc6;
  font-size: 16px;
}

.tabNavLink {
  border-right: 1px solid #ccc;
  font-size: 13px;
  transition: font-size 0.2s ease;
}

.tabNavLink:hover {
  font-size: 16px;
  color: #44cbc6;
}

@media (max-width: 950px) {
  .mobileContainer {
    display: flex;
  }
  .desktopContainer {
    display: none;
  }
  .loginButton {
    margin-right: 10px;
    font-size: 10px;
  }
}